@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-body: #29323a;
    --color-base: #0092cc;
    --color-text: #ffffff;
    --font-base: "Inter";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-body);
    color: var(--color-text);
    font-family: var(--font-base), sans-serif;
}

.nav a {
    color: #78c5e3;
}

.nav a:hover {
    color: #d0e9f3;
}

.nav a:focus {
    color: #d0e9f3;
}



#add-product-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

#edit-product-form,
#edit-user-form {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
}


#add-product-form input,
#add-product-form textarea,
#edit-product-form input,
#edit-product-form textarea,
#edit-product-form select,
#edit-user-form input {
    background-color: var(--color-body);
    color: #fff;

}

#edit-product-form input,
#edit-product-form textarea,
#edit-product-form select {
    width: 100%;
}

#edit-user-form {
    max-width: 700px;
}




#add-product-form label,
#edit-product-form label {
    margin-top: 10px;
    font-weight: 600;
}

#add-product-form button {
    margin-top: 10px;

}



.add-btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;

}

.add-btn-container button {
    width: 20%;
}


@media (orientation: portrait) {
    nav .show {
        top: 80px;
    }
}

/*edit remove page*/

table {
    color: #fff;
    border-collapse: collapse;
    width: 50%;

}

table tr {
    background-color: #363f48;
    gap: 20px;
    padding: 10px 5px;
}

table tr th {
    font-size: 18px;
    font-weight: 400;
    margin-right: 80px;
    margin-left: 10px;
}

table tr {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 50px;
}

thead {
    display: flex;
    gap: 20px;
}

tbody tr td {
    width: 120px;
}

.table-header {
    width: 100%;
}


.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: -webkit-line-clamp 0.3s ease;
}

.description:hover {
    -webkit-line-clamp: initial;
}
.product-table tr:nth-child(even) {
    background-color: #414a52;
}